<h1 class="text-center">Create new issue</h1>
<%# <div class="text-center 
            justify-content-center 
            align-items-center 
            border
            border-4
            rounded-2
            mt-5
            "> %>
        <div class="">
            <%= render "form", issue: @issue%>
            <%= link_to "Back", issues_path, class: "btn btn-primary"%>
        </div>


<%# </div> %>